.container-user {
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.user {
  margin-top: 50px;
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  max-width: 300px;
  padding: 1rem 2.5rem;
  text-align: center;
  position: sticky;
  flex-shrink: 0;
  margin-bottom: 50px;
  margin-left: 50px;
  h1 {
    font-family: 'Baloo 2';
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10%;
  }
  h4 {
    font-family: 'Baloo 2';
  }
  .show-avatar {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  }
}

.profile {
  flex-grow: 1
}

.carousel-control-prev {
  color: black;
}

.booking-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  h4 {
    font-family: 'Baloo 2';
  }
}

.btn-dark-show {
  color: whitesmoke;
  background-color: black;
  padding: 8px 16px;
  border-radius: 25px;
  transition: 0.5s;
  margin-bottom: 15px;
  margin-left: 15px;
}

.user-name {
  margin-top: 20px;
}

.user-email {
  margin-top: 20px;
}

.user-header {
  margin-top: 20px;
}

.carousel-control-prev, .carousel-control-next {
color: red;
}
