<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/RKlauwer"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/cesarbngd/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/maryan.berhe"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer has been made with <i class="fas fa-heart"></i> by Maryan, Raymond, & César
  </div>
</div>
