<div class="navbar">
  <h3><%= link_to "RENT A PAINTING", root_path, class:"nav-link" %></h3>
  <div class="buttons">
      <% if !user_signed_in? %>
      <%= link_to "Log in", new_user_session_path, class:"btn btn-dark"%>
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light"%>
    <% else %>
      <%= link_to "Log out", destroy_user_session_path, class:"btn btn-dark", method: :delete%>
    <% end %>
  </div>
</div>
