<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="banner">
  <div class="banner-objects">
    <h1 id="banner-slogan">All the art available for you right now</h1>
    <form action="">
      <div class="banner-search">
        <input id="search-bar" type="text" placeholder="What are you looking for ?">
        <button id="search-submit-btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
