.new-painting {
  height: 400px;
  width: 530px;
  border-radius: 20px;
  background-color: rgb(202, 202, 202);
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 39px;
  position: relative;
  .string .required {
    margin: 0;
  }
  .integer .required {
    margin: 0;
  }


  h2 {
    font-family: 'Sansita', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .painting_photo {
    align-items: center;
  }
}

.form-control {
  border-radius: 50px;
}

.form-control-file {
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

label {
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

.painting-size-price {
  display: flex;
}

.painting-size {
  padding-right: 10px;
}

.painting-price {
  padding-left: 10px;
}

.btn-dark-new {
  color: whitesmoke;
  background-color: black;
  padding: 8px 16px;
  border-radius: 25px;
  transition: 0.5s;
  margin-bottom: 15px;
  margin-left: 15px;
}

.btn-dark-create {
  color: whitesmoke;
  background-color: black;
  padding: 8px 16px;
  border-radius: 25px;
  transition: 0.5s;
  width: 200px;
}

.btn-dark-create:hover {
  color: black;
  background-color: whitesmoke;
  border-color: black;
}

.new-cross {
  position: absolute;
  right: 20px;

}

#cross::before {
  font-size: 2rem;
  color: rgb(82, 82, 82);
}

#cross:hover::before {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  }
