.navbar {
  height: 100px;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom: solid 1px grey;
}

.btn-dark {
  background-color: black;
  padding: 8px 16px;
  border-radius: 25px;
  transition: 0.5s;
}

.btn-dark:hover {
  color: black;
  background-color: whitesmoke;
}

.btn-light {
  padding: 8px 16px;
  border-radius: 25px;
  border-color: black;
  transition: 0.5s;
}

.btn-light:hover {
  background-color: black;
  border-color: black;
  color: whitesmoke;
}

.buttons {
  padding-right: 100px;
}

h3 {
  font-family: 'Changa One', bold;
  padding-left: 100px;
}

a {
  font-family: 'Baloo 2'
}

.nav-link {
  text-decoration: none;
  color:black;
  font-family: 'Changa One', bold;
  padding: 0px;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}
