#header {
font-family: 'Baloo 2', cursive;
font-size: 45px;
text-align: center;
padding-top: 25px;
margin-bottom: 0;
}

#search-header {
font-family: 'Baloo 2', cursive;
font-size: 45px;
text-align: center;
font-size: 20px;
}
