.title-show{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
}
// .confirm-containter{
  // display: flex;
  // justify-content: space-evenly;
  // margin-top: 55px;

  // .painting-info{
  //   display: flex;
  //   height: 450px;
  //   width: 610px;
  //   border-radius: 20px;
  //   background-color: rgb(202, 202, 202);
  //   margin: auto;
  //   margin-top: 20px;
  //   margin-bottom: 40px;
  //   text-align: center;
  //   padding-top: 39px;
  //   padding-bottom: 39px;
  //   padding-right: 100px;
  //   padding-left: 100px;
  // }

//   .show-info{
//     text-align: center;
//   }

//   .painting-display{
//   height: 450px;
//   width: 610px;
//   border-radius: 20px;
//   background-color: rgb(202, 202, 202);
//   margin: auto;
//   margin-top: 20px;
//   margin-bottom: 30px;
  // text-align: center;
  // padding-top: 39px;
  // padding-bottom: 39px;
//   padding-right: 100px;
//   padding-left: 100px;
// }

  // .user-info{
  //   border-radius: 20px;
  //   background-color: rgb(202, 202, 202)
  // }

  // .btn {
  //   background-color: rgb(67, 67, 67);
  //   color: white;
  //   border-radius: 50px;
  //   width: 200px;
  //   font-weight: bolder;
  //   font-family: 'Baloo 2', cursive;
  // }

  // h2 {
  //   font-family: 'Sansita', sans-serif;
  //   font-size: 50px;
  //   margin-bottom: 30px;
  // }

  // label {
  //   font-family: 'Baloo 2', cursive;
  //   font-weight: bold;
  // }
// }
